@import '../../assets/style/variables.scss';

.contact-custom-form {
    margin: 2rem 2rem;
    padding: 2rem 0rem;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: $pink;
      

        input{
            border: 0.5px solid #c9c9c9;
            height: 1.5rem;
            width: 20rem;
        
          }
          .contact-form-content{
            margin: auto;
        }
  }

  .contact-form-header{
    margin: auto;
    margin-bottom: 1.5rem;
}

 

 

 