.chocolatebarcustomizer {
    .grid-container {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 50px;
        justify-items: center;
        margin-top: -47px;


      }
      
}

// body {
//   font-family: Roboto, sans-serif;
//   background: #f2f2f2;
//   color: #757575;
//   margin: 0px;
// }

