.custom-form {
  margin: 2rem 2rem;
  padding: 2rem 0rem;
}

form {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .form-logo-option {
    width: 100%;
  }

  h4 {
    display: block;
    order: 1;
    min-width: 100%;
  }

  .form-check-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    order: 2;
  }

  input {
    display: flex;
  }

  .form-logo-img {
    max-height: 2rem;
    margin: 0.5rem 0.75rem;
    display: flex;
  }

  .form-art-selection {
    min-width: 16rem;
    border: 0.5px solid #c9c9c9;
    padding: 0.5rem 0.5rem;
    margin-top: 0.35rem;

    .form-art.option {
      padding: 0.5rem 0.5rem;
    }
  }

  .form-message-option {
    width: 100%;

    h4 {
      margin-top: 1rem;
    }

    p {
      font-weight: normal;
      margin: 0.25rem 0rem;
    }
  }

  .form-text-font-selection {
    padding: 0.5rem 0.5rem;
    border: 0.5px solid #c9c9c9;
    margin-right: 0.5rem;
  }

  .form-text-size-selection {
    border: 0.5px solid #c9c9c9;
    padding: 0.5rem 0.5rem;
  }

  textarea {
    width: 300px;
    height: 100px;
    border: 0.5px solid #c9c9c9;
    padding: 0.25rem;
  }
}

.buttons {
  display: inline;
  margin: 1rem 2rem;
}
