@import '../../assets/style/variables.scss';


.previewBox {
    background-color: $preview-background;
    width: $preview-width;
    height: $preview-height;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: solid 1px black;
    margin-top: 50px;
}

.previewDiv {
    height: $preview-height;
    width: $preview-width;
    padding: 10px;
}