$preview-width: 300px;
$preview-height: 780px;
$preview-background: #f7f1f5;
$font-meddon: 'Meddon', cursive;
$font-modak: 'Modak', cursive;
$font-monoton: 'Monoton', cursive;
$font-yeseva-one: 'Yeseva One', cursive;
