@import '../../assets/style/variables.scss';

#messagePrev {
  font-weight: normal;
  text-align: center;
  min-width: 250px;
}

.fontMeddon {
  font-family: $font-meddon;
}

.fontModak {
  font-family: $font-modak;
}

.fontMonoton {
  font-family: $font-monoton;
}

.fontYesevaOne {
  font-family: $font-yeseva-one;
}
